In [1]:
import numpy as np
import datetime as dt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
!pip3 install graycode
import graycode

Requirement already satisfied: graycode in /Users/shocremers/opt/anaconda3/envs/pytorch-cpu/lib/python3.8/site-packages (1.0.5)

# Day ahead prices data

In [3]:
price_2015 = pd.read_csv('data/Day-ahead Prices_201501010000-201601010000.csv') 
price_2015 = price_2015.iloc[96:] # data of january 1 to 4 is missing so remove them
price_2016 = pd.read_csv('data/Day-ahead Prices_201601010000-201701010000.csv') 
price_2017 = pd.read_csv('data/Day-ahead Prices_201701010000-201801010000.csv') 
price_2018 = pd.read_csv('data/Day-ahead Prices_201801010000-201901010000.csv') 
price_2019 = pd.read_csv('data/Day-ahead Prices_201901010000-202001010000.csv') 
price_2020 = pd.read_csv('data/Day-ahead Prices_202001010000-202101010000.csv')

In [4]:
# create 1 day ahead prices by combining all the years
day_ahead = pd.concat([price_2015, price_2016, price_2017, price_2018, price_2019, price_2020]).reset_index(drop=True)

In [5]:
day_ahead

                                 MTU (CET)  Day-ahead Price [EUR/MWh]
0      05.01.2015 00:00 - 05.01.2015 01:00                      36.56
1      05.01.2015 01:00 - 05.01.2015 02:00                      34.94
2      05.01.2015 02:00 - 05.01.2015 03:00                      32.19
3      05.01.2015 03:00 - 05.01.2015 04:00                      28.05
4      05.01.2015 04:00 - 05.01.2015 05:00                      28.04
...                                    ...                        ...
52513  31.12.2020 19:00 - 31.12.2020 20:00                      61.51
52514  31.12.2020 20:00 - 31.12.2020 21:00                      56.79
52515  31.12.2020 21:00 - 31.12.2020 22:00                      52.44
52516  31.12.2020 22:00 - 31.12.2020 23:00                      51.86
52517  31.12.2020 23:00 - 01.01.2021 00:00                      52.26

[52518 rows x 2 columns]

In [6]:
day_ahead[day_ahead.isnull().any(axis=1)]

                                 MTU (CET)  Day-ahead Price [EUR/MWh]
1994   29.03.2015 02:00 - 29.03.2015 03:00                        NaN
10731  27.03.2016 02:00 - 27.03.2016 03:00                        NaN
19468  26.03.2017 02:00 - 26.03.2017 03:00                        NaN
28205  25.03.2018 02:00 - 25.03.2018 03:00                        NaN
37110  31.03.2019 02:00 - 31.03.2019 03:00                        NaN
45847  29.03.2020 02:00 - 29.03.2020 03:00                        NaN

In [7]:
# interpolate missing day ahead price, for now using polynomial interpolation with degree 2
day_ahead['Day-ahead Price [EUR/MWh]'] = day_ahead['Day-ahead Price [EUR/MWh]'].interpolate(method='polynomial', order=2)

In [8]:
day_ahead[day_ahead['MTU (CET)'].map(day_ahead['MTU (CET)'].value_counts()) == 2]

                                 MTU (CET)  Day-ahead Price [EUR/MWh]
7034   25.10.2015 02:00 - 25.10.2015 03:00                      25.07
7035   25.10.2015 02:00 - 25.10.2015 03:00                      25.02
15939  30.10.2016 02:00 - 30.10.2016 03:00                      38.62
15940  30.10.2016 02:00 - 30.10.2016 03:00                      38.05
24676  29.10.2017 02:00 - 29.10.2017 03:00                       3.27
24677  29.10.2017 02:00 - 29.10.2017 03:00                     -13.10
33413  28.10.2018 02:00 - 28.10.2018 03:00                      55.48
33414  28.10.2018 02:00 - 28.10.2018 03:00                      51.80
42150  27.10.2019 02:00 - 27.10.2019 03:00                      14.25
42151  27.10.2019 02:00 - 27.10.2019 03:00                      25.81
50887  25.10.2020 02:00 - 25.10.2020 03:00                       0.15
50888  25.10.2020 02:00 - 25.10.2020 03:00                       0.09

In [9]:
# if time appears more than once (because of time zone change), only keep the maximum 
day_ahead = day_ahead.groupby('MTU (CET)')['Day-ahead Price [EUR/MWh]'].max().reset_index()

In [10]:
day_ahead['datetime'] = day_ahead['MTU (CET)'].str.split('-').str[0]
day_ahead['datetime'] = pd.to_datetime(day_ahead['datetime'], format="%d.%m.%Y %H:%M ")

In [11]:
day_ahead

,MTU (CET),Day-ahead Price [EUR/MWh],datetime
0,01.01.2016 00:00 - 01.01.2016 01:00,23.86,2016-01-01 00:00:00
1,01.01.2016 01:00 - 01.01.2016 02:00,22.39,2016-01-01 01:00:00
2,01.01.2016 02:00 - 01.01.2016 03:00,20.59,2016-01-01 02:00:00
3,01.01.2016 03:00 - 01.01.2016 04:00,16.81,2016-01-01 03:00:00
4,01.01.2016 04:00 - 01.01.2016 05:00,17.41,2016-01-01 04:00:00
...,...,...,...
52507,31.12.2020 19:00 - 31.12.2020 20:00,61.51,2020-12-31 19:00:00
52508,31.12.2020 20:00 - 31.12.2020 21:00,56.79,2020-12-31 20:00:00
52509,31.12.2020 21:00 - 31.12.2020 22:00,52.44,2020-12-31 21:00:00
52510,31.12.2020 22:00 - 31.12.2020 23:00,51.86,2020-12-31 22:00:00
52511,31.12.2020 23:00 - 01.01.2021 00:00,52.26,2020-12-31 23:00:00

In [12]:
day_ahead[day_ahead.isnull().any(axis=1)]

Empty DataFrame
Columns: [MTU (CET), Day-ahead Price [EUR/MWh], datetime]
Index: []

# Weather data

In [13]:
weather = pd.read_json('data/parsed_weather.json')

In [14]:
# remove data outside of january 5 2015 to december 31 2020
weather['date'] = pd.to_datetime(weather['date'])
start_date = '2015-1-4'
end_date = '2020-12-31'
mask = (weather['date'] > start_date) & (weather['date'] <= end_date)
weather = weather.loc[mask]
weather['datetime'] = pd.to_datetime(weather['date'] + pd.to_timedelta(weather['time']/100, unit='H'))
weather = weather.replace({'time': {0: 2400}}) # convert 0 to 2400, for later convenience

In [15]:
# weather description to string from list
weather['weatherDesc'] = [', '.join(map(str, l)) for l in weather['weatherDesc']]

In [16]:
# converting categorical variables to numerical

# option 1: label encoding

# wind direction
winddir_encoder = LabelEncoder()
winddir_encoder.fit(weather['winddir16Point'])
weather['winddir16Point'] = winddir_encoder.transform(weather.winddir16Point)
#wind description
winddesc_encoder = LabelEncoder()
winddesc_encoder.fit(weather['weatherDesc'])
weather['weatherDesc'] = winddesc_encoder.transform(weather.weatherDesc)


# option 2: one-hot encoding
'''
one_hot_winddir = pd.get_dummies(weather['winddir16Point'], prefix='winddir_')
weather = weather.join(one_hot_winddir)
one_hot_weatherDesc = pd.get_dummies(weather['weatherDesc'], prefix='weatherDesc_')
weather = weather.join(one_hot_weatherDesc)
weather = weather.drop(['winddir16Point', 'weatherDesc'], axis=1) 
'''

"\none_hot_winddir = pd.get_dummies(weather['winddir16Point'], prefix='winddir_')\nweather = weather.join(one_hot_winddir)\none_hot_weatherDesc = pd.get_dummies(weather['weatherDesc'], prefix='weatherDesc_')\nweather = weather.join(one_hot_weatherDesc)\nweather = weather.drop(['winddir16Point', 'weatherDesc'], axis=1) \n"

In [17]:
weather

,date,time,tempC,windspeedKmph,winddirDegree,winddir16Point,weatherDesc,precipMM,humidity,pressure,HeatIndexC,FeelsLikeC,datetime
96,2015-01-05,2400,0,12,203,11,31,0.0,96,1037,0,-4,2015-01-05 00:00:00
97,2015-01-05,100,0,13,206,11,31,0.0,96,1036,0,-4,2015-01-05 01:00:00
98,2015-01-05,200,0,14,209,11,31,0.0,96,1036,0,-4,2015-01-05 02:00:00
99,2015-01-05,300,0,15,212,11,31,0.0,96,1035,0,-5,2015-01-05 03:00:00
100,2015-01-05,400,0,14,207,11,31,0.0,96,1035,0,-5,2015-01-05 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52603,2020-12-31,1900,4,10,217,12,14,0.3,94,1000,4,2,2020-12-31 19:00:00
52604,2020-12-31,2000,4,12,225,12,14,0.2,93,1000,4,1,2020-12-31 20:00:00
52605,2020-12-31,2100,4,14,234,12,14,0.3,93,1001,4,0,2020-12-31 21:00:00
52606,2020-12-31,2200,3,12,269,13,14,0.2,92,1003,3,0,2020-12-31 22:00:00
52607,2020-12-31,2300,2,10,305,7,29,0.1,91,1004,3,0,2020-12-31 23:00:00

# Merge two dataset

In [18]:
total = pd.merge(day_ahead, weather, how='outer', on='datetime')

In [19]:
# set datetime as index
total = total.set_index('datetime')
total = total.sort_index()

In [20]:
# check if there are any missing data
pd.date_range("1.5.2015 00:00", "12.31.2020 11:00", freq="60min").difference(total.index)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [21]:
total

,MTU (CET),Day-ahead Price [EUR/MWh],date,time,tempC,windspeedKmph,winddirDegree,winddir16Point,weatherDesc,precipMM,humidity,pressure,HeatIndexC,FeelsLikeC
datetime,,,,,,,,,,,,,,
2015-01-05 00:00:00,05.01.2015 00:00 - 05.01.2015 01:00,36.56,2015-01-05,2400,0,12,203,11,31,0.0,96,1037,0,-4
2015-01-05 01:00:00,05.01.2015 01:00 - 05.01.2015 02:00,34.94,2015-01-05,100,0,13,206,11,31,0.0,96,1036,0,-4
2015-01-05 02:00:00,05.01.2015 02:00 - 05.01.2015 03:00,32.19,2015-01-05,200,0,14,209,11,31,0.0,96,1036,0,-4
2015-01-05 03:00:00,05.01.2015 03:00 - 05.01.2015 04:00,28.05,2015-01-05,300,0,15,212,11,31,0.0,96,1035,0,-5
2015-01-05 04:00:00,05.01.2015 04:00 - 05.01.2015 05:00,28.04,2015-01-05,400,0,14,207,11,31,0.0,96,1035,0,-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,31.12.2020 19:00 - 31.12.2020 20:00,61.51,2020-12-31,1900,4,10,217,12,14,0.3,94,1000,4,2
2020-12-31 20:00:00,31.12.2020 20:00 - 31.12.2020 21:00,56.79,2020-12-31,2000,4,12,225,12,14,0.2,93,1000,4,1
2020-12-31 21:00:00,31.12.2020 21:00 - 31.12.2020 22:00,52.44,2020-12-31,2100,4,14,234,12,14,0.3,93,1001,4,0
2020-12-31 22:00:00,31.12.2020 22:00 - 31.12.2020 23:00,51.86,2020-12-31,2200,3,12,269,13,14,0.2,92,1003,3,0
2020-12-31 23:00:00,31.12.2020 23:00 - 01.01.2021 00:00,52.26,2020-12-31,2300,2,10,305,7,29,0.1,91,1004,3,0

# Time variable

In [22]:
time = (total['time'].values/100).astype(int)

In [23]:
# incremental representation of time
time_increment = time/10

In [24]:
# gray code binary
time_gray_code = np.empty([len(time), 5])
for i in range(len(time)):
    gray_code_str = '{:05b}'.format(graycode.tc_to_gray_code(time[i]))
    time_gray_code[i] = np.array(list(gray_code_str)).astype(np.int8)

In [25]:
# mutually exclusive binary representation
time_exclusive = np.zeros([len(time), 24])
for i in range(len(time)):
    time_exclusive[i][time[i] - 1] = 1
time_exclusive = time_exclusive[:,::-1] # reverse array to correspond to binary representation

In [26]:
print(time_increment)
print(time_gray_code)
print(time_exclusive)

[2.4 0.1 0.2 ... 2.1 2.2 2.3]
[[1. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 1.]
 ...
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 0. 1.]
 [1. 1. 1. 0. 0.]]
[[1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 1. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]]

## for now, use time increment (change later to check performance)

In [27]:
total['time_increment'] = time_increment

In [28]:
# remove unnecessary columns
total = total.drop(columns=['MTU (CET)', 'date', 'time'])

In [29]:
total

,Day-ahead Price [EUR/MWh],tempC,windspeedKmph,winddirDegree,winddir16Point,weatherDesc,precipMM,humidity,pressure,HeatIndexC,FeelsLikeC,time_increment
datetime,,,,,,,,,,,,
2015-01-05 00:00:00,36.56,0,12,203,11,31,0.0,96,1037,0,-4,2.4
2015-01-05 01:00:00,34.94,0,13,206,11,31,0.0,96,1036,0,-4,0.1
2015-01-05 02:00:00,32.19,0,14,209,11,31,0.0,96,1036,0,-4,0.2
2015-01-05 03:00:00,28.05,0,15,212,11,31,0.0,96,1035,0,-5,0.3
2015-01-05 04:00:00,28.04,0,14,207,11,31,0.0,96,1035,0,-5,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,61.51,4,10,217,12,14,0.3,94,1000,4,2,1.9
2020-12-31 20:00:00,56.79,4,12,225,12,14,0.2,93,1000,4,1,2.0
2020-12-31 21:00:00,52.44,4,14,234,12,14,0.3,93,1001,4,0,2.1
2020-12-31 22:00:00,51.86,3,12,269,13,14,0.2,92,1003,3,0,2.2
2020-12-31 23:00:00,52.26,2,10,305,7,29,0.1,91,1004,3,0,2.3

In [30]:
#### to do list
# normalize each column if necessary

# Create torch dataset

In [ ]:
# sequence length (edit the value for different sequence length)
seq = 36

In [31]:
delta = pd.Timedelta(seq, unit ='h')
# define 1 hour object for convenience when using datetime as index in the dataframe to not include the last item
hours_12 = pd.Timedelta(12, unit ='h') # used mostly for empty 12 hours 
hour = pd.Timedelta(1, unit ='h')
day = pd.Timedelta(1, unit ='d')

In [32]:
### creating training dataset
train_y_start = dt.datetime(2015, 1, 5, 0, 0) + (delta+hours_12).ceil('1d')
#train_x_start = train_y_start - delta - hours_12
train_end = dt.datetime(2020, 11, 30, 23, 0)

train_x = []
train_y = []
while train_y_start + day - hour <= train_end:
    train_x_start = train_y_start - delta - hours_12
    
    
    #print(train_x_start, train_y_start)
    train_x.append(total[train_x_start:train_x_start+delta - hour].values)
    train_y.append(total[train_y_start:train_y_start+day - hour]['Day-ahead Price [EUR/MWh]'].values)
    
    train_y_start += day
    
train_x = np.asarray(train_x)
train_y = np.asarray(train_y)
print(train_x.shape)
print(train_y.shape)

(2155, 36, 12)
(2155, 24)

In [33]:
train_y

array([[40.  , 36.69, 37.45, ..., 42.02, 45.57, 45.6 ],
       [43.88, 35.65, 35.87, ..., 40.5 , 43.8 , 44.05],
       [32.28, 29.71, 28.97, ..., 34.6 , 31.09, 29.46],
       ...,
       [48.93, 45.91, 45.01, ..., 36.18, 36.7 , 40.36],
       [39.85, 39.96, 37.03, ..., 52.26, 49.91, 45.17],
       [46.6 , 43.04, 42.07, ..., 34.2 , 33.47, 32.4 ]])

In [34]:
### creating testing dataset
test_y_start = dt.datetime(2020, 12, 1, 0, 0)
test_end = dt.datetime(2020, 12, 31, 23, 0)

test_x = []
test_y = []
while test_y_start + day - hour <= test_end:
    test_x_start = test_y_start - delta - hours_12
    
    test_x.append(total[test_x_start:test_x_start+delta - hour].values)
    test_y.append(total[test_y_start:test_y_start+day - hour]['Day-ahead Price [EUR/MWh]'].values)
    
    test_y_start += day

test_x = np.asarray(test_x)
test_y = np.asarray(test_y)
print(test_x.shape)
print(test_y.shape)

(31, 36, 12)
(31, 24)

In [ ]:
### all the steps we have taken in preprocessing

# data from 1-1-2015 to 12-31-2020
# remove data between 1-1-2015 to 1-4-2015 since the day ahead data is missing
# for 1 hour missing in day ahead data (because of change in time), used polynomial interpolation with degree 2
# remove rows with same datetime (caused by change in time), take the one with higher day ahead price
# in weather data, label encoded categorical data (wind direction and weather discription)
# created time variables (as described in the paper)